table{
    border-collapse: collapse;
    margin: auto;
}

.Ligne{
    min-width: 100%;
    max-width: 100%;
}

th{
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px 5px 15px;
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 2.5px 15px 2.5px 15px;
}



.Texte_blanc{
    color: white;
}

#Kubs_charge{
    width: 3em;
}